
.page-template-template-cv
    font-family: 'Outfit', sans-serif
    .site-branding
        display: none
    #cv
        display: flex
        max-width: 595px
        margin: auto
        outline: 1px darkgrey solid
    #left
        max-width: 364px
        height: auto
        padding: 28px 0 0 40px
        #exp_pro
            .tiny_cir_yel
                left: -42px
                top: 32px
        .lieu_exp
            display: flex
            p
                margin: 0 10px 0 0px
                font-weight: 300
                font-size: 14px
                display: inline-flex
                align-items: center
                text-align: center
                color: black
                &:first-child
                    max-width: 99px
                    font-weight: 400
                    font-size: 16px
                    line-height: 20px
        .text_exp
            p
                width: 324px
                font-style: normal
                font-weight: 200
                margin-top: 7px
                font-size: 15px

    #right
        height: auto
        padding: 21px 0 0 0
        #pp
            display: block
            margin-right: 73px
            width: 145px
            height: 171px
            background: url("../../images/pp.jpg") center
            background-size: 120%
            background-position-x: 0px
            background-position-y: -30px
    h1
        color: $red_cv
        font-weight: bold
        font-size: 40px
        margin: 0 0 4px 0
    h2
        color: $red_cv
        font-weight: 700
        font-size: 25px
        line-height: 32px
        margin: 0px
    h3
        color: black
        font-weight: normal
        font-size: 24px
        margin: 0 0 18px 0
    h5
        color: black
        font-weight: 700
        font-size: 16px
        line-height: 20px
        margin-top: 9px
        margin-bottom: 4px
    p
        color: #000000
        white-space: break-spaces
        font-weight: 300
        font-size: 15px
        width: 288px

    #tiny_rec_blue
        width: 114px
        height: 11px
        background-color: $blue_cv
        animation: trblm-flat-hor 4s
        @include trblm
        &:before
            @include shadow
            animation: trblm-vide-hor 7s
            @include trblm
    .tiny_cir_yel
        display: flex
        width: 28px
        position: relative
        top: 72px
        left: 132px
        ul
            list-style: none
            margin: 0
            padding: 0
            position: absolute
            + .right_cir
                padding: 0 0 0 4px
                margin-left: 12px
        li
            list-style: none
            width: 12px
            height: 12px
            margin-top: 4px
            background-color: $yellow_cv
            border-radius: 50%
            animation: trblm-flat-ver 4s
            @include trblm
            &:before
                -webkit-appearance: none
                border-radius: 50%

                @include shadow
                animation: trblm-vide-ver 5s
                @include trblm
