
.page-template-template-cv
    font-family: 'Outfit', sans-serif
    .site-branding
        display: none
    #cv
        display: flex
        max-width: 595px
        margin: auto
        outline: 1px darkgrey solid
    #left
        max-width: 364px
        height: auto
        padding: 28px 0 0 40px
        #exp_pro
            .tiny_cir_yel
                left: -42px
                top: 32px
            .lieu_exp
                display: flex
                p
                    margin: 0 10px 0 0px
                    font-weight: 300
                    font-size: 14px
                    display: inline-flex
                    align-items: center
                    color: black
                    &:first-child
                        max-width: 99px
                        font-weight: 400
                        font-size: 16px
                        line-height: 20px
            .text_exp
                p
                    width: 324px
                    font-style: normal
                    font-weight: 200
                    margin-top: 7px
                    font-size: 15px
        #comp
            p
                width: 324px
                font-style: normal
                font-weight: 200
                margin-top: 7px
                font-size: 15px
    #right
        height: auto
        padding: 21px 0 0 0
        #pp
            display: block
            margin-right: 73px
            width: 145px
            height: 171px
            background: url("../../images/pp.jpg") center
            background-size: 120%
            background-position-x: 0px
            background-position-y: -30px
        #contact
            h4
                &:first-child
                    margin: 11px 0 7px 0
            ul
                display: flex
                flex-direction: column
                margin: 0
                padding: 0
                li
                    color: black
                    font-weight: 400
                    font-size: 12px
                    list-style-type: none
                    line-height: 25px
                    display: inline-flex
                    align-items: center
                    &:hover::before
                        animation-name: hover-wriggle
                        animation-duration: 2s
                        @include trblm
                    a
                        text-decoration: none
                        color: inherit
                        &:hover
                            color: $blue_cv
                    &::before
                        display: block
                        content: ""
                        width: 17px
                        height: 17px
                        margin-right: 8px
                        position: relative
                        align-items: center
                        background-size: contain
                    &#adress
                        &::before
                            background-image: url('../../images/adress.png')
                    &#phone
                        &::before
                            background-image: url('../../images/phone.png')
                    &#mail
                        &::before
                            background-image: url('../../images/mail.png')
                    &#ang
                        &::before
                            background-image: url('../../images/ang.png')
                    &#jap
                        &::before
                            background-image: url('../../images/jap.png')
                    &#car
                        &::before
                            background-image: url('../../images/car.png')
            p
                color: black
                font-weight: 400
                font-size: 12px
                line-height: 25px
                margin-bottom: 0
                margin-top: 15px

    h1
        color: $red_cv
        font-weight: bold
        font-size: 40px
        margin: 0 0 4px 0
    h2
        color: $red_cv
        font-weight: 700
        font-size: 25px
        line-height: 32px
        margin: 0px
    h3
        color: black
        font-weight: normal
        font-size: 24px
        margin: 0 0 18px 0
    h4
        color: $red_cv
        font-weight: 700
        font-size: 20px
        line-height: 25px
        margin-bottom: 15px
        margin-top: 26px
    h5
        color: black
        font-weight: 700
        font-size: 16px
        line-height: 20px
        margin-top: 9px
        margin-bottom: 4px
    p
        color: #000000
        white-space: break-spaces
        font-weight: 300
        font-size: 15px
        width: 288px

    #tiny_rec_blue
        width: 114px
        height: 11px
        background-color: $blue_cv
        animation: trblm-flat-hor 4s
        @include trblm
        &:before
            @include shadow
            animation: trblm-vide-hor 7s
            @include trblm
    .tiny_cir_yel
        display: flex
        width: 28px
        position: relative
        top: 72px
        left: 132px
        ul
            list-style: none
            margin: 0
            padding: 0
            position: absolute
            + .right_cir
                padding: 0 0 0 4px
                margin-left: 12px
        li
            list-style: none
            width: 12px
            height: 12px
            margin-top: 4px
            background-color: $yellow_cv
            border-radius: 50%
            animation: trblm-flat-ver 4s
            @include trblm
            &:before
                -webkit-appearance: none
                border-radius: 50%
                @include shadow
                animation: trblm-vide-ver 5s
                @include trblm
