@media screen and (max-width: 500px)
    #cv
        flex-direction: column
        #left ,#right
            width: 100%
            #pp
                margin: auto
                height: 255px
                width: 255px
                background-position-y: -40px
                animation: fade-in-up 2s
                .tiny_cir_yel
                    top: 170px
                    left: 240px
            #contact
                display: flex
                justify-content: center
                align-content: center
                flex-wrap: wrap
                flex-direction: column
                align-items: center
                margin: 5% 0 5% 0
                p, h4
                    text-align: center
                p, li
                    font-size: 15px
                h4
                    font-size: 25px
                    margin-top: 25px